<header>
  <div class="container">
    <div class="top-line">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="fl-right"></div>
        </div>
      </div>
    </div>
    <div class="mid-line">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
          <div id="logo" class="logo">
            <a
              href="https://livedemo00-opencart.template-help.com/opencart_prod-23516/index.php?route=common/home"
            >
              <img
                src="https://livedemo00-opencart.template-help.com/opencart_prod-23516/image/catalog/logo.png"
                alt="CursosFire"
                class="img-responsive"
              />
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 fl-right">
          <div class="phone">
            <a href="#">
              <i class="linearicons-telephone"></i>
              800-2345-6789
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
