<footer>
  <div class="container">
    <div class="footer_modules">
      <div class="homebuilder clearfix ">
        <div class="tm-container">
          <div class="row row-level-1">
            <div class="row-inner clearfix">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 ">
                <div class="col-inner">
                  <h3 class="box-heading">O CursosFire</h3>
                  <ul class="box-content list-unstyled">
                    <li><a href="#">Quem Somos</a></li>
                    <li><a href="#">Como funciona</a></li>
                    <li><a href="#">Termos de uso</a></li>
                    <li><a href="#">Política de Privacidade</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 ">
                <div class="col-inner">
                  <h3>Explore</h3>
                  <ul>
                    <li><a href="#">Depoimentos</a></li>
                    <li><a href="#">Perguntas Frequentes</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 ">
                <div class="col-inner">
                  <h3>Contato</h3>
                  <ul class="list-unstyled">
                    <li><a href="#">Fale Conosco</a></li>
                    <li><a href="#">Indique um amigo</a></li>
                    <li><a href="#">Indique um curso</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 ">
                <div class="col-inner"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <p>
        &copy; 2019 - <a href="#">CursosFire</a>. Todos os direitos reservados.
      </p>
    </div>
  </div>
</footer>
