<footer>
  <div class="container">
   <div class="homebuilder clearfix ">
    <div class="row row-level-1">
      <div class="row-inner  clearfix">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 ">
          <div class="col-inner">
            <h3>Meus cursos</h3>
            <ul>
              <li>Favoritos</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 ">
          <div class="col-inner">
            <h3>Information</h3>
            <ul>
              <li>Teste</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
   </div>
  </div>
</footer>
