<div id="page">
  <div id="page-preloader" class="">
    <div class="preloader">
      <div class="loader linearicons-refresh"></div>
    </div>
  </div>
  <div class="ie-warning">
    <a href="//windows.microsoft.com/en-us/internet-explorer/download-ie">
      <img
        src="catalog/view/theme/jetimpex796/image/warning_bar_0000_us.jpg"
        height="75"
        width="1170"
        alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."
      />
    </a>
  </div>
  <app-header></app-header>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
