@import "~@fortawesome/fontawesome-free/css/all.css";

/*========================================================
                      Main Styles
=========================================================*/
body {
  font: 400 14px/21px "Ubuntu", sans-serif;
  color: #888;
  background: #464646;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3d454c;
  margin: 0 0 20px;
  line-height: normal;
  font-weight: 400;
  text-transform: capitalize;
}

h1 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 0;
  margin-top: 30px;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}

a:visited,
a:focus {
  color: inherit;
  outline: none;
  text-decoration: dotted;
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.row-inner.clearfix {
  display: contents;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

ul {
  padding: 0px;
}

.demo-footer-img {
  position: relative;
}

.demo-footer-img .container a {
  position: relative;
}

#common-home + .bottom + footer {
  margin-top: 0;
}
